In [1]:
import pandas as pd
import pandas_datareader as pdr

In [8]:
pd.read_csv("symbols.csv", sep=':')

,Symbol,Name,F1,F2,F3,F4,F5,F6,F7
0,ATVI,Activision Blizzard Inc,56.48,,0.54,0.97%,NaN,NaN,NaN
1,ADBE,Adobe Inc.,303.74,,-0.43,-0.14%,NaN,NaN,NaN
2,AMD,Advanced Micro Devices Inc,39.47,,0.03,0.08%,NaN,NaN,NaN
3,ALGN,Align Technology Inc,275.23,,1.58,0.58%,NaN,NaN,NaN
4,ALXN,Alexion Pharmaceuticals Inc,109.50,,-1.70,-1.53%,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
125,V,Visa Inc,182.01,,-0.25,-0.14%,181.19,183.08,182.26
126,WBA,Walgreens Boots Alliance Inc,58.01,,-0.40,-0.68%,57.76,58.44,58.41
127,WMT,Walmart Inc,119.00,,-0.14,-0.12%,118.53,119.65,119.14
128,DIS,Walt Disney Co,147.59,,1.49,1.02%,146.76,147.89,146.10
129,DOW,Dow Inc,53.10,,-0.03,-0.06%,53.05,54.07,53.13